<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="/images/logo.webp" />

    <title> Go Green</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/css/app.css">
</head>

<!-- Header -->
<header class="main-header">
    <div class="container">
        <div class="row align-items-center">

            <!--LOGO-->
            <div class="col-5 col-md-2">
                <a href="/" class="main-header_home-link">
                    <img class="logo" src="/images/logo.webp">
                </a>
            </div>

            <!--BUSCADOR-->
            <div class="col-7 col-md-6">
                <form action="/search-results" method="GET" class="search-form">
                    <input type="text" name="criteria" id="criteria" placeholder="Buscar productos, marcas y más"
                        class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <!--BANNER DE TODAS LAS OPCIONES EN UN SOLO LUGAR (LO SACARÍA)-->
            <div class="col-12 col-md-4">
                <a class="main-header_credit-link">
                    <i class="fas fa-hand-holding-usd"></i>
                    Descubre los mejores productos ecológicos
                </a>
            </div>
        </div>

        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>

        <!--HEADER PARA USARIO LOGUEADO-->
        <% if(locals.me) { %>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/" class="header-productos">Todos los productos</a></li>
                    <li><a href="/products/add" class="header-productos">Cargar productos</a></li>
                </ul>

                <ul class="right-navbar">
                    <li>
                        <a href="/users/profile">
                            ¡Hola <%= me.username %>! <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a class="logout" type="submit" href="/users/logout"> Cerrar sesión <i class="fas fa-sign-in-alt"></i></a>
                    </li>

                </ul>
            </nav>
            <% } else { %>

                <!-- HEADER PARA USARIO DESLOGUEADO-->
                <nav class="main-navbar">
                    <ul class="left-navbar">
                        <li><a href="/" class="header-productos">Todos los productos</a></li>
                    </ul>

                    <ul class="right-navbar">
                        <li>
                            <a href="/users/register">Creá tu cuenta <i class="far fa-address-card"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                    </ul>
                </nav>
                <% } %>

    </div>
</header>