<body>
	<!-- Header -->

	<%- include('./partials/header.ejs') %> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form>
				<div class="mb-3">
					<label for="username" class="form-label">Usuario</label>
					<input type="email" class="form-control" id="username">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Contraseña</label>
					<input type="password" class="form-control" id="password">
				</div>
				<div class="mb-3">
					<label for="remember" class="form-label">Recordarme</label>
					<input type="checkbox" class="form-control" id="remember">
				</div>
				
				
				
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>