<body>

	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form method="POST" action="/users/login"> 
				<!-- FORMULARIO LOGIN -->
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="username" name="username">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Contraseña</label>
					<input type="password" class="form-control" id="password" name="password">
				</div>

				<div class="mb-3">
					<input type="checkbox" class="form-check-input" name="remember" id="remember">
					<label for="remember" class="form-check-input" id="recordar"> Recordarme </label>
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>

				<div class="mb-3">
					<p>
						<%if(locals.errors){ %>
						<p class="form-control"> <%= errors.message %></p>
						<% } %>
					</p>
				</div>
			</form>



	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
	
</body>

</html>