<body>

	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="post" action="/products/add" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="image" class="form-label">Imagen</label>
						<input type="file" class="form-control" name="image" id="image">
					</div>
					<div class="mb-3">
						<label for="nameProduct" class="form-label">Nombre del producto</label>
						<input type="text" class="form-control" name="nameProduct" id="nameProduct">
					</div>
					<div class="mb-3">
						<label for="description" class="form-label">Descripción</label>
						<input type="text" class="form-control" name="description" id="description">
					</div>
					<!-- <div class="mb-3">
						<label for="dateUpload" class="form-label">Fecha de carga</label>
						<input type="date" class="form-control" name="dateUpload" id="dateUpload"> 
					</div> -->
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->

</body>

</html>