<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" aria-describedby="email">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Contraseña</label>
					<input type="password" class="form-control" id="password">
				</div>
				<div class="mb-3">
					<label for="birthdate" class="form-label">Fecha de nacimiento</label>
					<input type="date" class="form-control" id="birthdate">
				</div>
				<div class="mb-3">
					<label for="DNI" class="form-label">DNI</label>
					<input type="number" class="form-control" id="DNI">
				</div>
				<div class="mb-3">
					<label for="profilephoto" class="form-label">Foto de perfil</label>
					<input type="file" class="form-control" id="profilephoto">
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>